<div class="container py-5">

    <div class="row">

      <div class="col-md-6 col-lg-5 col-xl-5 mb-4 mb-md-0">

        <h5 class="font-weight-bold mb-3 text-center text-white">Member</h5>

        <div class="card mask-custom">
          <div class="card-body">

            <ul class="list-unstyled mb-0">
            <% Message.where(agent_id: @the_agent.id).select(:user_id).distinct.each do |member| %>
              <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                <a href="<%= agent_messages_path(member.user.id) %>" class="d-flex justify-content-between link-light">
                  <div class="d-flex flex-row">
                    <img src="<%= member.user.photo %>" alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                    <div class="pt-1">
                      <p class="fw-bold mb-0"><%= member.user.first_name %></p>
                     <% if Message.where(agent_id: current_agent.id).where(user_id: member.user.id).where(sender_id: member.user.id).order(:updated_at).last.present? %> <p class="small text-white"><%= Message.where(agent_id: current_agent.id).where(user_id: member.user.id).where(sender_id: member.user.id).order(:updated_at).last.content %></p><% else %><p class="small text-white">No messages yet. </p> <% end %>
                    </div>
                  </div>
                  <div class="pt-1">
                    <% if Message.where(agent_id: current_agent.id).where(user_id: member.user.id).where(sender_id: member.user.id).order(:updated_at).last.present? %>  <p class="small text-white mb-1"><%= time_ago_in_words(Message.where(user_id: member.user.id).where(agent_id: current_agent.id).where(sender_id: member.user.id).order(:updated_at).last.updated_at) %></p>
                    <span class="badge bg-danger float-end">1</span><% end %>
                  </div>
                </a>
              </li>
              <% end %>
            </ul>

          </div>
        </div>

      </div>
