<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
</head>

<style>
  .banner-image{
    width: 128px;
    height: 128px;
    border-radius: 128px;
    z-index:-1;
    position: relative;
  }
</style>

<!--
<div>
  <div>
    <h1>
       <%= @the_user.first_name %> <%= @the_user.last_name %>'s Profile
    </h1>

  

    <img src="<%= @the_user.photo %>" class="banner-image">

    <dl>

       <dt>
        Gig(s)
      </dt>
      <dd>
        <% if Gig.all.where({ :user_id => @the_user.id }).present? %>
        <% Gig.all.where({ :user_id => @the_user.id }).each do |a_gig| %>
        <ul>
        <li><a href="/gigs/<%= a_gig.id %>"><%= a_gig.title %></a></li>
        </ul>
        <% end %>
        <% else %>
        No gigs yet.
        <% end %>
      </dd>

      <dt>
        Agent
      </dt>
      <dd>
        <% if Gig.all.where({ :user_id => @the_user.id }).present? && Gig.all.where({ :user_id => @the_user.id }).first.agent_id.present? %>
        <%= Agent.where({ :id => Gig.all.where({ :user_id => @the_user.id }).agent_id }).first.first_name %>
        <% else %>
        Unsigned
        <% end %>
      </dd>

      <dt>
        Biography
      </dt>
      <dd>
        <%= @the_user.about %>
      </dd>

      

      <dt>
        Member since
      </dt>
      <dd>
        <%= time_ago_in_words(@the_user.created_at) %> ago
      </dd>


    </dl>
  </div>
</div>

<hr>

<% if @current_user.present? %>
<div>
  <div>
    <h2>
      <a href="/edit_user_profile">Edit profile</a>
    </h2>
<hr>
<h2><a href="/create_gig">Create a gig</a></h2>
<hr>
<h2><a href="/messages">Messages (<%= Message.all.where({:user_id => @current_user.id}).count %>)</a></h2>
<% else %>

<% end %>


-->

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="<%= @the_user.photo %>" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3"><%= @the_user.first_name %></h5>
            <p class="text-muted mb-1"><%= Gig.where(user_id: @the_user.id).first.industry %></p>
            <p class="text-muted mb-1"><%= @the_user.timezone %></p>
              <% if Request.all.where(user_id: @the_user).where(status: "accepted").first.present? %>
        <p class="text-muted mb-4">Agent: <%= Agent.where({ :id => Request.all.where(user_id: @the_user).where(status: "accepted").first.agent_id }).first.first_name %></p>
        <% else %>
        <p class="text-muted mb-4">Unsigned</p>
        <% end %>
        <p class="text-muted mb-4"><%= @the_user.about %></p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Sign Request</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0"><%= @the_user.website %></p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                <p class="mb-0"><%= @the_user.twitter %></p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                <p class="mb-0"><%= @the_user.instagram %></p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                <p class="mb-0"><%= @the_user.facebook %></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @the_user.first_name %> <%= @the_user.last_name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @the_user.email %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @the_user.phone %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @the_user.mobile %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @the_user.address %></p>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <% Gig.where(user_id: @the_user.id).each do |gig| %>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1"><%= link_to gig.title,  "/gigs/#{gig.id}", style: 'text-decoration: none' %></span> <%= gig.industry %>
                </p>
                <div class="card-body">

    <p class="card-text"><%= gig.description %></p>
      <% if Request.all.where(user_id: @the_user).where(status: "accepted").where(gig_id: gig.id).first.present? %>
        <p class="card-text">Agent: <%= Agent.where({ :id => Request.all.where(user_id: @the_user).where(status: "accepted").first.agent_id }).first.first_name %></p>
        <% else %>
        <p class="card-text">Unsigned</p>
        <% end %>
  </div>
              </div>
            </div>
          </div>
          <% end %>
