<h1>Gigs</h1>

<br>
<% if user_signed_in? %>
<%= link_to 'New Gig', new_gig_path, class: "btn btn-info" %>
<% end %>


<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#">Signed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gigs">Unsigned</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">All</a>
      </li>
    </ul>
  </div>
  <% Request.where(status: "accepted").each do |request| %>
  <div class="card-body">
    <a href="gigs/<%= request.gig.id %>" style="text-decoration: none" ><h5 class="card-title"><%= request.gig.title %> - Industry: <%= request.gig.industry %></h5></a>
    <p class="card-text"><%= request.gig.description %></p>
  <% if user_signed_in? %>
    <% if request.gig.user.id == current_user.id %>
      <%= link_to 'Edit Gig', edit_gig_path(request.gig), class: "btn btn-success" %>
      <%= link_to 'Delete Gig', request.gig, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <% else %>
         <a href="<%= user_path(request.gig.user.id) %>" name="id: <%= request.gig.user.id %>" class="btn btn-primary">View <%= request.gig.user.first_name %>'s Profile</a>
    <% end %>
  <% elsif agent_signed_in? %>
        <a href="<%= new_message_user_path(request.gig.user.id) %>" name="id: <%= request.gig.user.id %>" class="btn btn-primary">Message <%= request.gig.user.first_name %></a>
        
        <a href="<%= new_request_user_path(request.gig.user.id) %>" class="btn btn-success">Sign <%= request.gig.user.first_name %></a>
  <% end %>
  
    <hr>
  </div>
  <% end %>
</div>
