<h1>Gigs</h1>

<br>

<%= link_to 'New Gig', new_gig_path, class: "btn btn-info" %>


<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#">Signed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gigs">Unsigned</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">All</a>
      </li>
    </ul>
  </div>
  <% Gig.where.not(agent_id: nil).each do |gig| %>
  <div class="card-body">
    <a href="gigs/<%= gig.id %>" style="text-decoration: none" ><h5 class="card-title"><%= gig.title %> - Industry: <%= gig.industry %></h5></a>
    <p class="card-text"><%= gig.description %></p>
    <% if gig.user.id == current_user.id %>
      <%= link_to 'Edit Gig', edit_gig_path(gig), class: "btn btn-success" %>
      <%= link_to 'Delete Gig', gig, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <% else %>
      <a href="#" class="btn btn-primary">Message <%= gig.user.first_name %></a>
      <a href="#" class="btn btn-success">Sign <%= gig.user.first_name %></a>
    <% end %>
    <hr>
  </div>
  <% end %>
</div>
