<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<h1>Gigs</h1>

<br>

<%= link_to 'New Gig', new_gig_path, class: "btn btn-info" %>


<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#">Unsigned</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= index_signed_path %>">Signed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">All</a>
      </li>
    </ul>
  </div>
  <% Gig.where(agent_id: nil).each do |gig| %>
  <% if Request.where(gig_id: gig.id).where(status: "accepted").present? %>
  <% else %>
  <div class="card-body" id="<%= dom_id(gig) %>">
    <a href="gigs/<%= gig.id %>" style="text-decoration: none" ><h5 class="card-title"><%= gig.title %> - Industry: <%= gig.industry %></h5></a>
    <p class="card-text"><%= gig.description %></p>
    <% if user_signed_in? && gig.user.id == current_user.id %>
      <%= link_to 'Edit Gig', edit_gig_path(gig), class: "btn btn-success" %>
      <%= link_to 'Delete Gig', gig, method: :delete, class: "btn btn-danger", remote: true %>
    <% elsif user_signed_in? %>
        <a href="<%= user_path(gig.user.id) %>" name="id: <%= gig.user.id %>" class="btn btn-primary">View <%= gig.user.first_name %>'s Profile</a>
 
      <% elsif agent_signed_in? %>
        <a href="<%= new_message_user_path(gig.user.id) %>" name="id: <%= gig.user.id %>" class="btn btn-primary">Message <%= gig.user.first_name %></a>
        
        <a href="<%= new_request_user_path(gig.user.id) %>" class="btn btn-success">Sign <%= gig.user.first_name %></a>

    <% end %>
    <hr>
  </div>
  <% end %> 
  <% end %>
</div>
