<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gig.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @gig.user_id %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @gig.agent_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gig.description %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @gig.industry %>
</p>

<%= link_to 'Edit', edit_gig_path(@gig) %> |
<%= link_to 'Back', gigs_path %>
