<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
 

<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
          <div class="card-header d-flex justify-content-between align-items-center p-3" style="background-color: white; border-radius: 15px">
            <h5 class="mb-0">My AI Agent</h5>
            <button type="button" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">eMGMT</button>
          </div>
        <div class="card chat-box" id="chat2">


      <% gpt_list = Gpt.order(:created_at).each do |gpt| %>
    <% if (gpt.role == "user" && gpt.user_id == current_user.id) || (gpt.role == "assistant" && gpt.updated_at > Gpt.where(user_id: current_user.id).first.updated_at) %>
      <div class="card-body chat-message" data-mdb-perfect-scrollbar="true">
        <% if gpt.role == "user" && gpt.user_id == current_user.id %>
            <div class="d-flex flex-row justify-content-start">
              <img src="<%= gpt.user.photo %>"
                alt="avatar 1" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" style="width: 45px; height: 100%;">
              <div>
                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;"><%= gpt.content %></p>
                <p class="small ms-3 mb-3 rounded-3 text-muted"><%= gpt.updated_at.strftime("%I:%M%p") %></p>
              </div>
            </div>


        <% elsif gpt.role == "assistant" && gpt.recipient_id == current_user.id %>


            <div class="d-flex flex-row justify-content-end mb-4 pt-1">
              <div>
                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary"><%= gpt.content %></p>
                
                <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end"><%= gpt.updated_at.strftime("%I:%M%p") %></p>
              </div>
              <img src="<%= gpt.user.photo %>"
                alt="avatar 1" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" style="width: 45px; height: 100%;">
            </div>
            
            

        <% end %>
     
          </div>
      <% end %>
<% end %>

         <div id="new_gpt_form">
         </div>
          </div>
 
           <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3" style="background-color: white; border-radius: 15px;">
            <img src="<%= current_user.photo %>"
              alt="avatar 3" class="rounded-circle" style="width: 40px; height: 100%;">

<%= form_with(model: Gpt.new, local: false) do |form| %>
<div class="field">
<%= form.hidden_field :user_id, value: current_user.id %>
</div>

<div id="new_gpt_form_box" class="field" style="float: left">
<span style="display: block">
<%= form.text_field :content, style: "width: 440px", class: "form-control form-control-lg", placeholder: "Dear AI Agent..." %></span>
</div>

<div class="field" style="float: left">
<%= form.hidden_field :role, value: "user" %>
</div>
<a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
            <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
<div class="actions" style="float: left">
  <%= button_tag type: "submit", class: "btn btn-link", id: "send-btn" do %>
    <i class="fas fa-paper-plane"></i>
  <% end %>
</div>

<% end %>
            
        </div>

      </div>
    </div>

  </div>
</section>







  </dd>
</dl>
<script>
$(function() {
  var chatMessagesDiv = document.getElementById("chat2"); 
  
  chatMessagesDiv.scrollTop = chatMessagesDiv.scrollHeight; 
})
</script>
